*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

ul {
  list-style: none; }

html {
  font-size: 62.5%;
  font-family: 'Roboto',sans-serif;
  color: #3f3c3d; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  position: relative; }

a {
  text-decoration: none; }

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
  .header__logo-box {
    width: 22rem;
    height: 22rem;
    margin-top: 5rem;
    opacity: 0.9; }
    .header__logo-box-icon {
      width: 22rem;
      height: 22rem;
      transition: all 0.5s cubic-bezier(0.87, 0.03, 0.63, 0.6); }
      .header__logo-box-icon:hover {
        transform: scale(1.1) rotate(720deg); }
      @media only screen and (max-height: 37.5em) {
        .header__logo-box-icon {
          transform: scale(0.8); } }
    @media only screen and (max-width: 75em) {
      .header__logo-box {
        margin-top: 13rem; } }
    @media only screen and (max-height: 37.5em) {
      .header__logo-box {
        margin-top: 2rem; } }
  .header__text-logo {
        /*     
        font-size: 8rem;
        color: #fff;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        transition: all 0.5s;
       &::after {
            content: "";
            background: #fff;
            width: 0;
            height: 1rem;
            position: absolute;
            border-radius: 100px;
            margin-top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.5s;
        }

        &:hover::after {
            width: 10rem;
        }
        &:hover {
            cursor: pointer;
            letter-spacing: 2px;
        }*/
    width: 47%;
    margin: 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .header__text-logo {
        margin: 4rem 0;
        width: 55%; } }
    @media only screen and (max-height: 37.5em) {
      .header__text-logo {
        margin: 2rem 0; } }
    .header__text-logo:hover {
      cursor: pointer; }
  .header__buttons {
    display: flex;
    align-items: center; }

.quiz-header {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  background: #fff;
  display: block; }
  .quiz-header__box {
    border: 1rem solid #00695c;
    padding: 2rem 5.5rem;
    display: inline-block;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5); }
    .quiz-header__box::before {
      content: "";
      position: absolute;
      border: 1rem solid #3f3c3d;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 100%;
      transform: scale(1.1); }
      @media only screen and (max-width: 31.25em) {
        .quiz-header__box::before {
          border: 0.6rem solid #3f3c3d; } }
    @media only screen and (max-width: 31.25em) {
      .quiz-header__box {
        padding: 1.5rem 4.5rem;
        border: 0.6rem solid #004d40; } }
  .quiz-header__heading {
    text-transform: uppercase;
    font-size: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .quiz-header__heading {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .quiz-header__heading {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .quiz-header__heading {
        font-size: 3.8rem; } }

.quiz-heading {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  position: relative;
  margin: 3rem 0;
  transition: all 0.3s; }
  .quiz-heading:hover::after {
    width: 80%; }
  .quiz-heading::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 0.6rem;
    background: #525050;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    transition: all 0.3s; }

.section-quiz {
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .section-quiz {
      padding: 3rem 4rem; } }

.series {
  background: #e0e0e0;
  padding: 2rem;
  margin: 2rem 0; }
  @media only screen and (max-width: 56.25em) {
    .series {
      margin: 1.5rem;
      padding: 2.5rem; } }
  .series__friends, .series__stranger {
    margin: 1rem 0;
    background: red;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    background: #eeeeee; }
    @media only screen and (max-width: 46.875em) {
      .series__friends, .series__stranger {
        flex-direction: column;
        align-items: center; } }
    .series__friends-text, .series__stranger-text {
      padding: 0rem;
      color: #3f3c3d;
      flex: 1;
      text-align: center;
      margin: 3rem 0;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 2000; }
      @media only screen and (max-width: 56.25em) {
        .series__friends-text, .series__stranger-text {
          margin: 2rem 0;
          padding: 3rem; } }
      @media only screen and (max-width: 46.875em) {
        .series__friends-text, .series__stranger-text {
          order: 2; } }
      @media only screen and (max-width: 37.5em) {
        .series__friends-text, .series__stranger-text {
          padding: 2rem; } }
    .series__friends-image, .series__stranger-image {
      width: 42rem;
      height: 42rem;
      margin-left: auto;
      background-repeat: no-repeat;
      background-size: cover; }
      @media only screen and (max-width: 56.25em) {
        .series__friends-image, .series__stranger-image {
          width: 30rem;
          height: 30rem; } }
      @media only screen and (max-width: 46.875em) {
        .series__friends-image, .series__stranger-image {
          order: 1;
          width: 100%;
          height: 50rem; } }
      @media only screen and (max-width: 37.5em) {
        .series__friends-image, .series__stranger-image {
          height: 42rem; } }
    .series__friends::before, .series__stranger::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid black;
      transform: scale(0.93);
      z-index: 1000; }
  .series__paragraph {
    padding: 0 4rem;
    font-size: 1.8rem;
    line-height: 3.5rem;
    font-weight: 300;
    margin: 1.5rem 0;
    font-family: 'Nunito Sans', sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .series__paragraph {
        padding: 0 3.2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        font-weight: 300; } }
    @media only screen and (max-width: 37.5em) {
      .series__paragraph {
        margin-bottom: 1.5rem; } }
  .series__heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 3px; }
    @media only screen and (max-width: 56.25em) {
      .series__heading {
        font-size: 2rem;
        letter-spacing: 2px; } }
    @media only screen and (max-width: 37.5em) {
      .series__heading {
        margin-bottom: 1rem; } }

.sports {
  background: #e0e0e0;
  padding: 2rem;
  margin: 2rem 0; }
  @media only screen and (max-width: 56.25em) {
    .sports {
      margin: 1.5rem;
      padding: 2.5rem; } }
  .sports__cricket, .sports__football {
    margin: 1rem 0;
    background: red;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    background: #eeeeee; }
    @media only screen and (max-width: 46.875em) {
      .sports__cricket, .sports__football {
        flex-direction: column;
        align-items: center; } }
    .sports__cricket-text, .sports__football-text {
      padding: 0rem;
      color: #3f3c3d;
      flex: 1;
      text-align: center;
      margin: 3rem 0;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 2000; }
      @media only screen and (max-width: 56.25em) {
        .sports__cricket-text, .sports__football-text {
          margin: 2rem 0;
          padding: 3rem; } }
      @media only screen and (max-width: 46.875em) {
        .sports__cricket-text, .sports__football-text {
          order: 2; } }
      @media only screen and (max-width: 37.5em) {
        .sports__cricket-text, .sports__football-text {
          padding: 2rem; } }
    .sports__cricket-image, .sports__football-image {
      width: 42rem;
      height: 42rem;
      margin-left: auto;
      background-repeat: no-repeat;
      background-size: cover; }
      @media only screen and (max-width: 56.25em) {
        .sports__cricket-image, .sports__football-image {
          width: 30rem;
          height: 30rem; } }
      @media only screen and (max-width: 46.875em) {
        .sports__cricket-image, .sports__football-image {
          order: 1;
          width: 100%;
          height: 50rem; } }
      @media only screen and (max-width: 37.5em) {
        .sports__cricket-image, .sports__football-image {
          height: 42rem; } }
    .sports__cricket::before, .sports__football::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid black;
      transform: scale(0.93);
      z-index: 1000; }
  .sports__paragraph {
    padding: 0 4rem;
    font-size: 1.8rem;
    line-height: 3.5rem;
    font-weight: 300;
    margin: 1.5rem 0;
    font-family: 'Nunito Sans', sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .sports__paragraph {
        padding: 0 3.2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        font-weight: 300; } }
    @media only screen and (max-width: 37.5em) {
      .sports__paragraph {
        margin-bottom: 1.5rem; } }
  .sports__heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 3px; }
    @media only screen and (max-width: 56.25em) {
      .sports__heading {
        font-size: 2rem;
        letter-spacing: 2px; } }
    @media only screen and (max-width: 37.5em) {
      .sports__heading {
        margin-bottom: 1rem; } }

.friends {
  background-image: url(../images/friends.jpg); }

.cricket {
  background-image: url(../images/cricket.jpg); }

.stranger {
  background-image: url(../images/strangerthings.jpg); }

.football {
  background-image: url(../images/football.jpg); }

.footer {
  background: #00695c;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .footer__logos {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    z-index: 10;
    border-bottom: 1px dotted #fff; }
  .footer__legal {
    color: #eeeeee;
    font-size: 1.2rem;
    background: #004d40;
    padding: 1rem 0;
    margin-top: auto;
    align-self: stretch;
    text-align: center;
    z-index: 10; }
  .footer::before {
    content: "";
    width: 100%;
    height: 100%;
    background-blend-mode: color;
    background-size: cover;
    background-image: linear-gradient(to bottom, #00695c, #00695c), url(../images/footer.png);
    position: absolute;
    animation: scaler 20s infinite; }

@keyframes scaler {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
.rounds {
  width: 100%;
  background: #eeeeee;
  padding: 5rem 8rem; }
  @media only screen and (max-width: 56.25em) {
    .rounds {
      padding: 4.5rem 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .rounds {
      padding: 3rem 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .rounds {
      padding: 2.5rem 4rem; } }

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2005;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__container {
    max-width: 70rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 4rem;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    position: relative;
    transform: scale(0.5);
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .popup__container {
        max-width: 55rem; } }
  .popup__close {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    margin-right: 1rem; }
  .popup:target .popup__container {
    transform: scale(1); }
  .popup .cancel-icon,
  .popup .rules-icon {
    width: 2rem;
    height: 2rem; }
  .popup .rules-icon {
    fill: #fff;
    margin-right: 0.5rem; }
  .popup__heading {
    font-size: 2rem;
    text-transform: uppercase;
    background: #00695c;
    display: flex;
    color: #fff;
    padding: 1rem 0;
    padding-left: 1rem;
    letter-spacing: 2px;
    align-items: center; }
  .popup__text {
    padding: 2rem; }

.rules-heading {
  text-transform: uppercase;
  font-weight: 400;
  margin: 1rem 0; }
  @media only screen and (max-width: 37.5em) {
    .rules-heading {
      margin: 0.8rem; } }
.rules-para1, .rules-para2 {
  font-size: 1.5rem;
  margin: 1rem 0; }
  @media only screen and (max-width: 37.5em) {
    .rules-para1, .rules-para2 {
      margin: 0.8rem 0;
      font-size: 1rem; } }
.rules-list {
  font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .rules-list {
      font-size: 1rem; } }
  .rules-list-item {
    margin: 1rem 0; }
    .rules-list-item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-image: url(../images/chevron-right.svg);
      background-size: cover; }
      @media only screen and (max-width: 37.5em) {
        .rules-list-item::before {
          margin-right: .5rem; } }

.popup-quiz {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2005;
  opacity: 1;
  visibility: hidden;
  transition: all 0.3s; }
  .popup-quiz__container {
    max-width: 70rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 20rem;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .popup-quiz__container {
        max-width: 55rem;
        margin-top: 10rem; } }
  .popup-quiz__text {
    padding: 2rem; }
  .popup-quiz .rules-icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    margin-right: 0.5rem; }
  .popup-quiz__heading {
    font-size: 2rem;
    text-transform: uppercase;
    background: #00695c;
    display: flex;
    color: #fff;
    padding: 1rem 0;
    padding-left: 1rem;
    letter-spacing: 2px;
    align-items: center; }
  .popup-quiz .quiz__heading {
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0; }
    @media only screen and (max-width: 37.5em) {
      .popup-quiz .quiz__heading {
        margin: 0.8rem; } }

.bg-video {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-image: url(../images/background.png);
  z-index: -1;
  background-attachment: fixed;
  background-size: cover; }
  .bg-video__element {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .bg-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4; }

.rounds__right {
  width: 100%;
  background: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  margin-bottom: 5rem;
  z-index: 10; }
  .rounds__right-content {
    padding: 2rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 15; }
  .rounds__right-heading {
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    font-size: 2.2rem;
    color: #3f3c3d;
    font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .rounds__right-heading {
        color: #fff; } }
  .rounds__right-paragraph {
    color: #737272;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .rounds__right-paragraph {
        color: #fff; } }
  .rounds__right-img-box {
    flex: 0 1 50%;
    overflow: hidden; }
    .rounds__right-img-box-image {
      width: 100%;
      height: 100%;
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
      background-repeat: no-repeat;
      background-size: cover; }
      @media only screen and (max-width: 56.25em) {
        .rounds__right-img-box-image {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
    @media only screen and (max-width: 56.25em) {
      .rounds__right-img-box {
        flex: 0 1 100%; } }
    @media only screen and (max-width: 37.5em) {
      .rounds__right-img-box {
        flex: 0 0 0%; } }

.rounds__left {
  width: 100%;
  background: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  margin-bottom: 5rem;
  z-index: 10; }
  .rounds__left-content {
    padding: 2rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 15; }
  .rounds__left-heading {
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    font-size: 2.2rem;
    color: #3f3c3d;
    font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .rounds__left-heading {
        color: #fff; } }
  .rounds__left-paragraph {
    color: #737272;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .rounds__left-paragraph {
        color: #fff; } }
  .rounds__left-img-box {
    flex: 0 1 50%;
    overflow: hidden; }
    .rounds__left-img-box-image {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
      background-repeat: no-repeat;
      background-size: cover; }
      @media only screen and (max-width: 56.25em) {
        .rounds__left-img-box-image {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
    @media only screen and (max-width: 56.25em) {
      .rounds__left-img-box {
        flex: 0 1 100%; } }
    @media only screen and (max-width: 37.5em) {
      .rounds__left-img-box {
        flex: 0 0 0%; } }

.round-1-image::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 37.5em) {
    .round-1-image::before {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/vintage.jpg);
      background-repeat: no-repeat;
      background-size: cover; } }
.round-2-image::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 37.5em) {
    .round-2-image::before {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/quiz.jpg);
      background-repeat: no-repeat;
      background-size: cover; } }
.round-3-image::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 37.5em) {
    .round-3-image::before {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/magic.jpg);
      background-repeat: no-repeat;
      background-size: cover; } }

.round-list-heading {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400; }
  @media only screen and (max-width: 37.5em) {
    .round-list-heading {
      margin-top: 0.7rem; } }

.r1 {
  background-image: url(../images/vintage.jpg); }

.r2 {
  background-image: url(../images/quiz.jpg); }

.r3 {
  background-image: url(../images/magic.jpg); }

.btn {
  padding: 0.6rem 1rem;
  color: #fff;
  border: none;
  display: inline-block;
  transition: all 0.3s; }
  .btn-round1, .btn-round1:visited, .btn-round1:link, .btn-startQuiz, .btn-startQuiz:visited, .btn-startQuiz:link {
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.2rem 2rem;
    background: transparent;
    border: 1px solid #004d40;
    transition: all 0.1s;
    color: #004d40;
    letter-spacing: 1px;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .btn-round1, .btn-round1:visited, .btn-round1:link, .btn-startQuiz, .btn-startQuiz:visited, .btn-startQuiz:link {
        font-size: 1rem;
        padding: 1rem 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .btn-round1, .btn-round1:visited, .btn-round1:link, .btn-startQuiz, .btn-startQuiz:visited, .btn-startQuiz:link {
        color: #fff;
        border: 1px solid #fff; } }
    .btn-round1:hover, .btn-round1:visited:hover, .btn-round1:link:hover, .btn-startQuiz:hover, .btn-startQuiz:visited:hover, .btn-startQuiz:link:hover {
      background: #004d40;
      color: #fff;
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
      @media only screen and (max-width: 37.5em) {
        .btn-round1:hover, .btn-round1:visited:hover, .btn-round1:link:hover, .btn-startQuiz:hover, .btn-startQuiz:visited:hover, .btn-startQuiz:link:hover {
          background: transparent; } }
    .btn-round1:active, .btn-round1:visited:active, .btn-round1:link:active, .btn-startQuiz:active, .btn-startQuiz:visited:active, .btn-startQuiz:link:active {
      transform: translateY(2px);
      background: #00695c; }
  @media only screen and (max-width: 37.5em) {
    .btn-startQuiz, .btn-startQuiz:visited, .btn-startQuiz:link {
      margin-bottom: 1rem;
      border: 1px solid #004d40;
      color: #004d40; } }
  @media only screen and (max-width: 37.5em) {
    .btn-startQuiz:hover, .btn-startQuiz:visited:hover, .btn-startQuiz:link:hover {
      background: #004d40; } }
  .btn-round1, .btn-round1:visited, .btn-round1:link {
    align-self: flex-start; }
  .btn:hover {
    cursor: pointer; }
  .btn-rules, .btn-quiz, .btn-rules:visited, .btn-quiz:visited, .btn-rules:link, .btn-quiz:link {
    margin: 0 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border: 2px solid white;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    border-radius: 100px; }
    @media only screen and (max-width: 56.25em) {
      .btn-rules, .btn-quiz, .btn-rules:visited, .btn-quiz:visited, .btn-rules:link, .btn-quiz:link {
        font-size: 1.2rem;
        border: 1px solid white;
        padding: 1.1rem 1.7rem; } }
  .btn-rules:hover .header__buttons-icon, .btn-quiz:hover .header__buttons-icon {
    transform: translateX(1rem);
    width: 2rem; }

.header__buttons-icon {
  width: 0rem;
  height: 2rem;
  fill: #fff;
  transition: all 0.3s; }

.social {
  margin: 0 1rem; }
  .social__icon {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    transition: all 0.3s; }
  .social:hover .social__icon {
    transform: scale(1.1) rotate(7deg); }

.nav {
  font-size: 2.2rem;
  position: fixed;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2000;
  padding: 1rem 2rem;
  width: 100%;
  margin-top: 1rem; }
  .nav__logo {
    letter-spacing: 3px;
    height: 3rem; }
    .nav__logo .csi {
      text-decoration: none;
      color: #fff;
      font-family: 'Raleway',sans-serif;
      font-weight: 600; }
  .nav__content {
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    height: 3rem;
    margin-right: 5rem;
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .nav__content {
        flex-direction: column;
        align-items: flex-end; } }
  .nav__link-box {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -13rem;
    background: black;
    opacity: 0.7;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 2px;
    z-index: 200; }
    @media only screen and (max-width: 37.5em) {
      .nav__link-box {
        margin: 0;
        margin-top: -2rem;
        margin-right: -4rem;
        transform: translateY(5rem);
        opacity: 0;
        height: 0;
        font-size: 0;
        padding: 0; } }
    .nav__link-box-1 {
      transition: all 0.2s ease-in-out 0.12s; }
    .nav__link-box-2 {
      transition: all 0.2s ease-in-out 0.08s; }
    .nav__link-box-3 {
      transition: all 0.2s ease-in-out 0.04s; }
    .nav__link-box-4 {
      transition: all 0.2s ease-in-out 0s; }
    .nav__link-box:hover {
      opacity: 0.9; }
  .nav__links:link, .nav__links:active, .nav__links {
    text-decoration: none;
    color: #fff; }
  .nav__icon {
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    left: 95.5%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    z-index: 210; }
    .nav__icon:hover {
      cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .nav__icon {
        left: 94.5%; } }
    @media only screen and (max-width: 46.875em) {
      .nav__icon {
        left: 93%; } }
    @media only screen and (max-width: 31.25em) {
      .nav__icon {
        left: 91%; } }
  .nav__icon:hover .nav__bar:before {
    top: -0.7rem; }
  .nav__icon:hover .nav__bar:after {
    top: 0.7rem; }
  .nav__checkbox {
    display: none; }
  .nav__checkbox:checked ~ .nav__link-box {
    margin-top: 0; }
    @media only screen and (max-width: 37.5em) {
      .nav__checkbox:checked ~ .nav__link-box {
        margin-top: 0.8rem;
        margin-right: -4rem;
        opacity: 1;
        height: 10rem;
        font-size: 2rem;
        padding: 0.6rem 1.2rem; } }
  .nav__checkbox:checked + .nav__icon .nav__bar {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__icon .nav__bar::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__icon .nav__bar::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__bar {
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: relative; }
    .nav__bar, .nav__bar::before, .nav__bar::after {
      content: "";
      width: 1.8rem;
      height: 2px;
      display: inline-block;
      transition: all 0.1s ease-in-out;
      background: #3f3c3d; }
    .nav__bar::before {
      top: -5px;
      position: absolute;
      left: 0; }
    .nav__bar::after {
      position: absolute;
      top: 5px;
      left: 0; }

/*# sourceMappingURL=style.css.map */
