.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh; //justify-content: center;
    flex-direction: column;
    align-items: center; // justify-content: center;
    &__content {}

    &__logo-box {
        width: 22rem;
        height: 22rem;
        margin-top: 5rem;
        opacity: 0.9;
        &-icon {
            width: 22rem;
            height: 22rem;
            transition: all 0.5s cubic-bezier(.87, .03, .63, .6);
            &:hover {
                transform: scale(1.1) rotate(720deg);
            }
        }

        @include respond(tab-land) {
            margin-top: 13rem;
        }

    }

    &__text-logo {
        /*     
        font-size: 8rem;
        color: #fff;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        transition: all 0.5s;
       &::after {
            content: "";
            background: #fff;
            width: 0;
            height: 1rem;
            position: absolute;
            border-radius: 100px;
            margin-top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.5s;
        }

        &:hover::after {
            width: 10rem;
        }
        &:hover {
            cursor: pointer;
            letter-spacing: 2px;
        }*/
        width: 47%;
        margin: 2rem 0;

        @include respond(tab-port) {
            margin: 4rem 0;
            width: 55%;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__buttons {

        display: flex;
        align-items: center;

    }
}

.quiz-header {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    background: #fff;
    display: block;
    &__box {
        border: 1rem solid $color-primary;
        padding: 2rem 5.5rem;
        display: inline-block;
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        &::before {
            content: "";
            position: absolute;
            border: 1rem solid $color-grey-dark-1;
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 100%;
            transform: scale(1.1);
            
            @include respond(small) {

                border: 0.6rem solid $color-grey-dark-1;
            }
        }
        
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
        @include respond(small) {
            padding: 1.5rem 4.5rem;
            border: 0.6rem solid $color-primary-dark;
        }
    }
    &__heading {
        text-transform: uppercase;
        font-size: 6rem;
        
        @include respond(tab-port){
             font-size: 5rem;
        }
          @include respond(phone){
             font-size: 4.5rem;
        }
          @include respond(small){
             font-size: 3.8rem;
        }
    }

}

.quiz-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
    position: relative;
    margin: 3rem 0;
    transition: all 0.3s;
    &:hover::after {
        width: 80%;
    }
    &::after {
        content: "";
        position: absolute;
        width: 30%;
        height: 0.6rem;
        background: $color-grey-dark-2;
        border-radius: 100px;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        transition: all 0.3s;
    }
}

.section-quiz {

    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
    align-items: center;
    @include respond(phone) {
        padding: 3rem 7rem;
    }

}

.series {
    background: $color-grey-light-2;
    padding: 2rem;
    margin: 2rem 0;

    @include respond(tab-port) {
        margin: 1.5rem;
        padding: 2.5rem;
    }

    &__friends,
    &__stranger {
        margin: 1rem 0;
        background: red;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        position: relative;
        background: $color-grey-light-3;

        @include respond(phone-land) {
            flex-direction: column;
            align-items: center;
        }
        &-text {
            padding: 0rem;
            color: $color-grey-dark-1;
            flex: 1;
            text-align: center;
            margin: 3rem 0;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            z-index: 2000;

            @include respond(tab-port) {
                margin: 2rem 0;
                padding: 3rem;
            }
            @include respond(phone-land) {
                order: 2;
            }
        }
        &-image {
            width: 40rem;
            height: 40rem;
            margin-left: auto;
            
            background-repeat: no-repeat;
            background-size: cover;

            @include respond(tab-port) {
                width: 30rem;
                height: 30rem;
            }
            @include respond(phone-land) {
                order: 1;
                width: 100%;
                height: 50rem;
            }
            @include respond(phone) {
                height: 42rem;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid black;
            transform: scale(0.9);
            z-index: 1000;
        }
    }
    &__paragraph {
        padding: 0 4rem;
        font-size: 1.5rem;
        line-height: 2rem;
        @include respond(tab-port) {
            padding: 0 3.2rem;
            line-height: 2rem;
            font-size: 1rem;
            font-weight: 300;
        }
        @include respond(phone) {
            margin-bottom: 1.5rem;
        }
    }
    &__heading {
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 3px;
        @include respond(tab-port) {
            font-size: 2rem;
            letter-spacing: 2px;

        }
        @include respond(phone) {
            margin-bottom: 1rem;
        }
    }

}

.sports {
    background: $color-grey-light-2;
    padding: 2rem;
    margin: 2rem 0;

    @include respond(tab-port) {
        margin: 1.5rem;
        padding: 2.5rem;
    }
    &__cricket,
    &__football {
        margin: 1rem 0;
        background: red;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        position: relative;
        background: $color-grey-light-3;

        @include respond(phone-land) {
            flex-direction: column;
            align-items: center;
        }
        &-text {
            padding: 0rem;
            color: $color-grey-dark-1;
            flex: 1;
            text-align: center;
            margin: 3rem 0;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            z-index: 2000;

            @include respond(tab-port) {
                margin: 2rem 0;
                padding: 3rem;
            }
            @include respond(phone-land) {
                order: 2;
            }
        }
        &-image {
            width: 40rem;
            height: 40rem;
            margin-left: auto;
          
            background-repeat: no-repeat;
            background-size: cover;


            @include respond(tab-port) {
                width: 30rem;
                height: 30rem;
            }
            @include respond(phone-land) {
                order: 1;
                width: 100%;
                height: 50rem;
            }
            @include respond(phone) {
                height: 42rem;
            }

        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid black;
            transform: scale(0.9);
            z-index: 1000;
        }


    }
    &__paragraph {
        padding: 0 4rem;
        font-size: 1.5rem;
        line-height: 2rem;
        @include respond(tab-port) {
            padding: 0 3.2rem;
            line-height: 2rem;
            font-size: 1rem;
            font-weight: 300;
        }
        @include respond(phone) {
            margin-bottom: 1.5rem;
        }
    }
    &__heading {
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 3px;
        @include respond(tab-port) {
            font-size: 2rem;
            letter-spacing: 2px;

        }
        @include respond(phone) {
            margin-bottom: 1rem;
        }
    }
}
.friends{
    background-image: url(../images/friends.jpg)
}
.cricket{
    background-image: url(../images/strangerthings.jpg)
    
}
.stranger{
    
    background-image: url(../images/strangerthings.jpg)
}
.football{
    background-image: url(../images/football.jpg)
    
}