//popup
.popup {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2005;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }
   
    &__container {
        max-width: 70rem;
        height: 60rem;
        background: #fff;
        margin: 0 auto;
        margin-top: 4rem;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        position: relative;
        transform: scale(0.5);
        transition: all 0.3s ease-in-out;
        
        @include respond(phone){
            max-width: 55rem;
        }
    }
    &__close {

        width: 2rem;
        height: 2rem;
        margin-left: auto; 
        margin-right: 1rem;
    }
     &:target &__container{
        transform: scale(1);
    }

    .cancel-icon,
    .rules-icon {
        width: 2rem;
        height: 2rem;

    }
    .rules-icon {
        fill: #fff;
        margin-right: 0.5rem;
    }
    &__heading {
        font-size: 2rem;
        text-transform: uppercase;
        background: $color-primary;
        display: flex;
        color: #fff;
        padding: 1rem 0;
        padding-left: 1rem;
        letter-spacing: 2px;
        align-items: center;
    }
    &__text {}
}
