.btn {
    padding: 0.6rem 1rem;

    color: #fff;
    border: none;

    display: inline-block;
    transition: all 0.3s;
    &-round1,
    &-round1:visited,
    &-round1:link {
        background: $color-grey-dark-2;
        align-self: flex-start;
        border-radius: 3px;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1.2rem 2rem;
        background: transparent;
        border: 1px solid $color-primary-dark;
        transition: all 0.1s;
        color: $color-primary-dark;
        letter-spacing: 1px;
        &:hover {
            background: $color-primary-dark;
            color: #fff;
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
        }

        &:active {
            transform: translateY(2px);
            background: $color-primary;

        }

    }


    &:hover {
        cursor: pointer;
    }

    &-rules,
    &-quiz,
    &-rules:visited,
    &-quiz:visited,
    &-rules:link,
    &-quiz:link {
        margin: 0 2rem;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        border: 2px solid white;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        &:active {
            transform: translateY(2px);
        }
    }
    &-rules:hover .header__buttons-icon,
    &-quiz:hover .header__buttons-icon {
        transform: translateX(1rem);
        width: 2rem;
    }

}

.header__buttons-icon {
    width: 0rem;
    height: 2rem;
    fill: #fff;
    transition: all 0.3s;

}

.social {
    margin: 0 1rem;
    &__icon {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        
        transition: all 0.3s;
    }
    &:hover &__icon {
        transform: scale(1.1) rotate(7deg); 
        //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
}
