.nav {
    font-size: 2.2rem;
    position: fixed;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2000;
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 1rem;
    
       
    &__logo {
        letter-spacing: 3px;
        height: 3rem;
        .csi{
            text-decoration: none;
            color: #fff;
            font-family: 'Raleway',sans-serif;
            font-weight: 600;
        }
    }

    &__content {
        display: flex;
        font-family: 'Roboto', sans-serif;
        align-items: center;
        height: 3rem;
        margin-right: 5rem;
        transition: all 0.3s ease-in-out;

        @include respond(phone){
           flex-direction: column; 
            align-items: flex-end;
        }
    }
    &__link-box {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -13rem;
        
        background: black;
        opacity: 0.7;
        padding: 0.6rem 1.2rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 2px;
        z-index: 200;
        @include respond(phone){
            
            margin: 0;
            margin-top: -2rem;
            margin-right: -4rem;
            transform: translateY(5rem);
            opacity: 0;
            height: 0;
            font-size: 0;
            padding: 0;
        }
        
        &-1{
            transition: all 0.2s ease-in-out 0.12s;
        }
        &-2{
            transition: all 0.2s ease-in-out 0.08s;
        }
        &-3{    
            transition: all 0.2s ease-in-out 0.04s;
        }
        &-4{
            transition: all 0.2s ease-in-out 0s;
        }
        &:hover{
            opacity: 0.9;
        }
    }
    &__links:link,
    &__links:active,
    &__links {
        text-decoration: none;
        color: #fff;
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        background: #fff;
        border-radius: 100px;
        
        position: absolute;
        left: 95.5%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
         transition: all 0.1s ease-in-out;
        z-index: 210;
        &:hover{
            cursor: pointer;
        }
       
        @include respond(tab-port){
            left: 94.5%;
        }
        @include respond(phone-land){
            left: 93%;
        }
        @include respond(small){
            left: 91%;
        }
        
  
       
    }
      &__icon:hover &__bar:before{
        top:-0.7rem;
    }
    
    &__icon:hover &__bar:after{
       top:0.7rem;
    }
    &__checkbox {
        display: none;
    
    }
    
    /////////////////////
    &__checkbox:checked ~ &__link-box {
        margin-top: 0;
        @include respond(phone){
            margin-top: 0.8rem;
            margin-right: -4rem;
            opacity: 1;
            height: 10rem;
            font-size: 2rem;
            padding: 0.6rem 1.2rem;
        }
    }
    
    &__checkbox:checked + &__icon &__bar{
        background-color: transparent;
    }
    
    &__checkbox:checked + &__icon &__bar::before{
        top:0;
        transform: rotate(135deg) ;
    }
    &__checkbox:checked + &__icon &__bar::after{
        top:0;
    transform: rotate(-135deg);
    }
    &__bar {
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        position: relative;
        &,
        &::before,
        &::after {
            content: "";
            width: 1.8rem;
            height: 2px;
            display: inline-block;
             transition: all 0.1s ease-in-out;
            background: $color-grey-dark-1;
  
        }
        &::before {
            top: -5px;
            position: absolute;
            left: 0;
        }
        &::after {
            position: absolute;
            top: 5px;
            left: 0;
        }
    }

}
