.rounds__right {
    width: 100%;
    background: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 5rem;
    z-index: 10;
   
    
    &-content {
        padding: 2rem;
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 15;
    }
    &-heading {
        text-transform: uppercase;
        border-bottom: 1px solid $color-grey-light-2;
        font-size: 2.2rem; //  margin-bottom: 1rem;
        color: $color-grey-dark-1;
        font-weight: 400;
        
        @include respond(phone){
            color: #fff;
        }
    }
    &-paragraph {
        color: $color-grey-dark-3;
        font-size: 1.8rem; //  margin: 3rem 0;
        font-weight: 300;
        line-height: 3rem;
        @include respond(phone) {
         color: #fff;
        }
    }
    &-img-box {
        flex: 0 1 50%;
        overflow: hidden;
        &-image {
            width: 100%;
            height: 100%;
            
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
            background-repeat: no-repeat;
            background-size: cover;
            @include respond(tab-port) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        @include respond(tab-port) {
            flex: 0 1 100%;
        }
        @include respond(phone) {
            flex: 0 0 0%;
        }
    }
}

.rounds__left {
    width: 100%;
    background: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 5rem;
 z-index: 10;
    &-content {
        padding: 2rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
 z-index: 15;
    }
    &-heading {
        text-transform: uppercase;
        border-bottom: 1px solid $color-grey-light-2;
        font-size: 2.2rem;
        color: $color-grey-dark-1;
        font-weight: 400;
        
        @include respond(phone){
            color: #fff;
        }
    }
    &-paragraph {
        color: $color-grey-dark-3;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        @include respond(phone){
            color: #fff;
        }
      
    }
    &-img-box {
        flex: 0 1 50%;
        overflow: hidden;
        &-image {
            width: 100%;
            height: 100%;
            
            clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
            background-repeat: no-repeat;
            background-size: cover;
            @include respond(tab-port) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        @include respond(tab-port) {
            flex: 0 1 100%;
        }
        @include respond(phone) {
            flex: 0 0 0%;
        }
    }
}

.round {
    &-1-image {
         &::before{
        content:"";
        width: 100%;
        height: 100%;
        z-index: 11;
        position: absolute;
        top: 0;
        left: 0;
        
        @include respond(phone){
       background-image:linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/vintage.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            
        }
    }
    }
    &-2-image { 
        &::before{
        content:"";
        width: 100%;
        height: 100%;
        z-index: 11;
        position: absolute;
        top: 0;
        left: 0;
        
        @include respond(phone){
       background-image:linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/quiz.jpg);
            background-repeat:no-repeat;
            background-size:cover;
           
        }
    }
    }
    &-3-image { 
        &::before{
        content:"";
        width: 100%;
        height: 100%;
        z-index: 11;
        position: absolute;
        top: 0;
        left: 0;
        
        @include respond(phone){
       background-image:linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/magic.jpg);
            background-repeat:no-repeat;
            background-size:cover;
           
        }
    }
    }
}

.round-list-heading{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    
    @include respond(phone){
        margin-top: 0.7rem;
    }
}
.r1{
    background-image: url(../images/vintage.jpg);
}
.r2{
    background-image: url(../images/quiz.jpg);
}
.r3{
    background-image: url(../images/magic.jpg);
}